<%- contentFor('HeaderCss') %>
<%- contentFor('body') %>

<!-- Login page -->
<div class="account-background">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <div class="bg-form  rounded">
          <div class="text-center">
            <h4 class="text-uppercase ac_logo fw-bold">Fadmin</h4>
            <p class="text-white mt-2 mb-24">Sign into your account</p>
          </div>
          <% if(error.length> 0) { %>
            <div class="alert alert-borderless alert-danger text-center mb-2 mx-2" role="alert">
              <%= error %>
            </div>
            <% } %>
              <% if(message.length> 0) { %>
                <div class="alert alert-borderless alert-success text-center mb-2 mx-2" role="alert">
                  <%= message %>
                </div>
                <% } %>
          <form class="login_account" method="post" action="/sendforgotpasswordlink">
            <div class="row">
              <div class="col-lg-12 mt-1">
                <input type="email" class="form-control" placeholder="Email" name="email" required="">
              </div>
              <div class="col-lg-12 mt-2">
                <button class="btn btn-info w-100" type="submit">Send Reset Link</button>
              </div>
            </div>
          </form>
        </div>
        <div class="text-center mt-20">
          <p><small class="text-dark me-1">Wait, I remember my password...</small> <a href="/login" class="text-dark fw-bold">Click here</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Login Page -->

<%- contentFor('FooterJs') %>
