<%- include ('../partials/main') %>

<%- include ('../partials/title-meta') %>
<%- HeaderCss %>
<%- include ('../partials/head-css.ejs') %>

</head>

<body>

  <%- body%>

  <%- include ('../partials/vendor-scripts') %>
  <%- FooterJs %>

</body>

</html>